<% @comics.in_groups_of(4, false).each_with_index do |group, index| %>
  <div class="row">
    <% group.each do |comic| %>
      <div class='col-lg-2 img-thumbnail'>
        <%= link_to image_tag(comic.image_url, width: 150), "/comics/#{comic.id}", class: 'image-responsive' %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- http://apidock.com/rails/ActionView/Helpers/AssetTagHelper/image_tag -->