<div class='container'>
  <h2>Add a new comic</h2>
</div>

<div class='row'>
	<%= render "form" %>
</div>

<div class='container'>
  <%= link_to 'Back to all comics', comics_path %>
</div>


<!-- http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials -->
