<div class='container'>
  <h2>Add a new comic</h2>
</div>

<div class='row'>
  <!-- RENDER THE FORM PARTIAL HERE. -->
</div>

<div class='container'>
  <%= link_to 'Back to all comics', comics_path %>
</div>
