<div class='row'>
  <div class='col-md-5'>
    <!-- INSERT COMIC COVER IMAGE HERE WITH ERB.
         ATTACH THE CLASS of 'img-responsive' TO THIS LINK -->
  </div>
  <div class='col-md-7'>
    <h1><!-- INSERT COMIC BOOK TITLE HERE WITH ERB --></h1>
    <h4><!-- INSERT COMIC BOOK DESCRIPTION HERE WITH ERB --></h4>
    <!-- INSERT LINK TO DELETE A COMIC BOOK HERE.
         ATTACH A CLASS of 'btn btn-warning' TO THIS LINK.
         ALSO INCLUDE A CONFIRMATION MESSAGE 'Are you sure?' -->
  </div>
</div>
