/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1.logo {
  font-size: 4em;
  padding: 1px 5px 1px 5px;
  background-color: red;
  width: 250px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  letter-spacing: -1px;
  margin-bottom: 12px;
}

.add {
  margin-top: 25px;
  margin-left: 20px;
}
